.reservation-form {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
}

label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

input:hover, input:focus {
  border: 1px solid #6c63ff;
  box-shadow: 0 0 5px #6c63ff;
}

input.ng-dirty.ng-invalid {
  border: 3px solid #f00;
}

button[type="submit"]:hover, button[type="submit"]:focus {
  background-color: #3e8e41;
}



@media (max-width: 768px) {
  label {
    display: block;
    width: 100%;
  }

  input {
    width: 100%;
  }
}
