<div class="form-group">
  <h4>New Reservation</h4>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="date">Date: </label>
      <input type="date" id="date" formControlName="date">
    </div>

    <div>
      <label for="time">Time: </label>
      <input type="time" id="time" formControlName="time">
    </div>

    <div>
      <label for="name">Party Name: </label>
      <input type="text" id="name" formControlName="name">
    </div>

    <div>
      <label for="numPeople">Number of People: </label>
      <input type="number" id="numPeople" formControlName="numPeople">
    </div>
    <br />
    <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
  </form>
</div>
