<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Party Size</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td><input type="checkbox" name="select" (change)="selected(reservation, $event)"></td>
      <td>{{ reservation.date | date:'shortDate' }}</td>
      <td>{{ displayTime(reservation.time) }}</td>
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.numPeople }}</td>
      <td>{{ statusName(reservation.status) }}</td>
    </tr>
  </tbody>
</table>
<br />
<div class="button-container">
  <button (click)="completeReservation()">Complete</button>
  <button (click)="cancelReservation()">Cancel</button>
  <button id="deleteBtn" (click)="deleteReservation()">Delete</button>
</div>

